/* general */
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1em;
}

/* main */
main {
    height: 100vh;
    background-image: url('https://www.lefrecce.it/Channels.Website.WEB/423cbbe76686f33e3807259790052e67.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
main section:first-child {
    padding: 110px 0 80px 0;
}
main section:first-child div.container {
    max-width: 800px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
main section:last-child div.container {
    max-width: 800px;
    padding: 15px;
    border: 10px solid #B71139;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
main section:last-child img {
    width: 150px;
}
h6 {
    font-weight: bold;
}
#price {
    color: #B71139;
    font-weight: bold;
}